p {
    color: #fdefc9;
    font-size: 14px;
    font-family: cursive;
}

h1 {
    color: whitesmoke;
}

h3 {
    color: #29e9e9;
}

.fancio {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

body {
    text-align: center;
    background-image: url('backgroundWeb.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.center {
    text-align: center;
    border: 3px solid rgb(16, 155, 79);
    margin: 10px;
  }

img {
    max-width: 100%;
    max-height:100%;
    float: right;
  }

#Welcoming {
    position: absolute;
    top: 10px;
    right: 460px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid #5357c5;
}  

.flex-child:first-child {
    margin-right: 20px;
}


.flex-child ul {
    padding: 0%;
    text-align: left;    
    display: inline-block;
    color: #fdefc9;
    font-family: cursive;
}

.button {
    background-color: #4c90af;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
  }

#LIbutton {
    position: absolute;
    bottom: 10px;
    left: 550px;
}

#githubButton {
    position: absolute;
    bottom: 10px;
    left: 400px;
}

#emailbutton {
    position: absolute;
    bottom: 10px;
    left: 700px;
}
